body {
      white-space: pre-wrap;
    }
    .css-popapp {
      padding: 0;
      margin: 0;
    }
    .text {
      width: 900px;
      height:50px;
      position: relative;
    }
    .popapp {
      display: none;
      position: absolute;
      background: #f0f0f0;
      color: #000000;
      font-weight: bold;
    }
    .popapp:after {
      position: absolute;
      border-top-color: #f0f0f0;
      pointer-events: none;
      content: " ";
    }
    .text:hover + .popapp {
      display: block;
    }